.App {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 800px;
	gap: 20px;
	box-sizing: border-box;
}

.Apps {
	border: 1px solid black;
	padding: 10px; /* Добавлено для улучшения визуального восприятия */
	box-sizing: border-box;
}

.titleId {
	width: 200px;
	display: flex;
	align-items: baseline; /* Исправлено */
	gap: 10px;
}

.id {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center; /* Центрирование содержимого, если оно есть */
	box-sizing: border-box;
}
